/* Activa el Smooth Scroll */
html{

    scroll-behavior: smooth;
}

/* Reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño general */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Barra de navegación */
nav{

    position: fixed;

    top: 0;

    width: 100%;

    background-color: #111827;

    padding: 20px;

    display: flex;

    justify-content: center;

    gap: 30px;

    z-index: 1000;
}

/* Links del menú */
nav a{

    color: white;

    text-decoration: none;

    font-size: 18px;

    transition: 0.3s;
}

/* Hover de links */
nav a:hover{

    color: #60a5fa;
}

/* Diseño de todas las secciones */
section{

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 50px;

    color: white;
    padding: 20px;
}
/* seccion de contacto, aislada para darle un diseño diferente */
#contacto{
    background-color: #ef4444;

    display: block;

    padding-top: 75px;

    text-align: center;
}

/* Espacio para el texto de las secciones */
section p{
    font-size: 24px;
    text-align: center;
    max-width: 80%;
    text-align: justify;
    padding: 10px;
}
/* div de imagenes tipo products*/
.gallery{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
/* Colores diferentes para cada sección */

#inicio{
    margin: 0 auto;
        padding: 20px;
        background-image: url(imagenes/canachade\ fut.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;;
}

#servicios{
    background-color: #10b981;
}

#galeria{
    background-color: #f59e0b;
}

#contacto{
    background-color: #ef4444;
}